@import "tailwindcss";

@theme {
    --color-primary-color: var(--primary-color);
    --color-primary-color-1: var(--primary-color-1);
    --color-primary-color-2: var(--primary-color-2);
    --color-primary-color-3: var(--primary-color-3);
    --color-primary-color-4: var(--primary-color-4);
    --color-primary-color-5: var(--primary-color-5);
    --color-primary-color-6: var(--primary-color-6);
    --color-primary-color-7: var(--primary-color-7);
    --color-primary-color-8: var(--primary-color-8);
    --color-primary-color-9: var(--primary-color-9);
    --color-secondary-color-1: var(--secondary-color-1);
    --color-secondary-color-2: var(--secondary-color-2);
    --color-secondary-color-3: var(--secondary-color-3);
    --color-secondary-color-4: var(--secondary-color-4);
    --color-secondary-color-5: var(--secondary-color-5);
    --color-secondary-color-6: var(--secondary-color-6);
    --color-secondary-color-7: var(--secondary-color-7);
    --color-secondary-color-8: var(--secondary-color-8);
    --color-secondary-color-9: var(--secondary-color-9);
}
